[package]
name = "server"
version = "0.1.0"
edition = "2021"

# Starting in Rust 1.62 you can use `cargo add` to add dependencies 
# to your project.
#
# If you're using an older Rust version,
# download cargo-edit(https://github.com/killercup/cargo-edit#installation) 
# to install the `add` subcommand.
#
# Running `cargo add DEPENDENCY_NAME` will
# add the latest version of a dependency to the list,
# and it will keep the alphabetic ordering for you.

[dependencies]
aws-config = "0.51"
aws-sdk-dynamodb = "0.21"
aws-smithy-types = "0.51"
aws-smithy-http = "0.51"
axum = "0.5"
http = "0.2"
hyper = { version = "0.14", featurs = ["server", "http1", "http2"] }
lambda_http = { version = "0.7", default-features = false, features = ["apigw_rest"] }
lambda_runtime = "0.7"
rand = "0.8"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tokio = { version = "1", features = ["macros"] }
tower = "0.4"
tower-http = { version = "0.3", features = ["compression-full", "limit"] }
tower-service = "0.3"
tracing = { version = "0.1", features = ["log"] }
tracing-subscriber = { version = "0.3", default-features = false, features = ["fmt"] }
uuid = { version = "1", features = ["v4", "fast-rng", "serde"] }
