on:
  push:
    branches: [main]
    paths:
      - 'client/**'
  pull_request:
    paths:
      - 'client/**'
name: client
env:
  NODE_VERSION: 18
jobs: 
  lint:
    runs-on: ubuntu-latest
    defaults: 
      run:
        working-directory: ./client
    steps:
      - uses: actions/checkout@v3
      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'
          cache-dependency-path: client/package-lock.json
      - run: npm ci
      - run: npm run lint
